{% load staticfiles %}                                                                      
{% include "header.html" %}    
<div class="content_dispaly">
    <h3 class="tit"><span class="glyphicon glyphicon-circle-arrow-right "></span>add property</h3>
        <form id="property_form" class="form col-md-5" method="post" action="/add_property/"  enctype="multipart/form-data">
            {% csrf_token %}
       {% for field in property_form %}
		    <div class="form-group">
		        {% if field.errors %}
		       	 {{ field.errors }} {{ field.label_tag }}
		        {% endif %}
		        <label>{{ field.label_tag }}</label>
		        {{ field }}
		        {% if field.help_text %}
		        <p class="help">{{ field.help_text|safe }}</p>
		        {% endif %}
		    </div>
		{% endfor %}
		     {{ formsetFile }}

		     <br/>
            <input type="submit" value="Add" class="btn btn-primary"  />
        </form>
		<p class="clearfix"></p>
<script type="text/javascript">
$(function(){
	var x={{ request.session.user_id }};
    console.log(x); 
	$('#user_id').val(parseInt(x));
})
	function getCity(){
		var co_id=$('#cat_id').val()
	    $.ajax({
	        url: "/getcity/",
	        data : { id: co_id},
	        success : function(data) {
	            $('#city_id').html(data);
	        }
	    })	
	}	
</script>		


{% include "footer.html" %}    
