{% load staticfiles %}                                                                      
{% include "header.html" %}    
<div class="content_dispaly">
    <h3 class="tit"><span class="glyphicon glyphicon-circle-arrow-right "></span>Featured Listings</h3>
    


    

        {% for v in property_data %}
            <div class="col-md-4 proj">
              {% for a in v.img_pro.all %}
                {% if forloop.first %}
                <img src="{{ MEDIA_URL }}/media/{{ a.image_name }}" class="img-
                responsive img-rounded" alt=""/>
                {%endif%}
              {%endfor%}
                <h3><a href="">{{ v.prop_name }}</a></h3>
                <p class="details">
                    {{ v.preview }}
                </p>
                <a href="/properties/{{ v.id }}" target="_blank" class="btn btn-primary pull-right">Details</a>
                <p class="clearfix"></p>
            </div>        
        {%endfor%}



    <p class="clearfix"></p>
</div>
{% include "footer.html" %}    
