{% load staticfiles %}                                                                      
{% include "header.html" %}    
<div class="content_dispaly">
    <h3 class="tit"><span class="glyphicon glyphicon-circle-arrow-right "></span>Featured Listings</h3>
    <div class="col-md-4 proj">
        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
        <h3><a href="">Akoya Compound</a></h3>
        <p class="details">
            Akoya Compound Akoya Compound Akoya Compound Akoya Compound Akoya Compound
        </p>
        <a href="/en/projects/kenz-compound" target="_blank" class="btn btn-primary pull-right">Details</a>
        <p class="clearfix"></p>
    </div>
    <div class="col-md-4 proj">
        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
        <h3><a href="">Akoya Compound</a></h3>
        <p class="details">
            Akoya Compound Akoya Compound Akoya Compound Akoya Compound Akoya Compound
        </p>
        <a href="/en/projects/kenz-compound" target="_blank" class="btn btn-primary pull-right">Details</a>
        <p class="clearfix"></p>
    </div>
    <div class="col-md-4 proj">
        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
        <h3><a href="">Akoya Compound</a></h3>
        <p class="details">
            Akoya Compound Akoya Compound Akoya Compound Akoya Compound Akoya Compound
        </p>
        <a href="/en/projects/kenz-compound" target="_blank" class="btn btn-primary pull-right">Details</a>
        <p class="clearfix"></p>
    </div>
    <div class="col-md-4 proj">
        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
        <h3><a href="">Akoya Compound</a></h3>
        <p class="details">
            Akoya Compound Akoya Compound Akoya Compound Akoya Compound Akoya Compound
        </p>
        <a href="/en/projects/kenz-compound" target="_blank" class="btn btn-primary pull-right">Details</a>
        <p class="clearfix"></p>
    </div>
    <div class="col-md-4 proj">
        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
        <h3><a href="">Akoya Compound</a></h3>
        <p class="details">
            Akoya Compound Akoya Compound Akoya Compound Akoya Compound Akoya Compound
        </p>
        <a href="/en/projects/kenz-compound" target="_blank" class="btn btn-primary pull-right">Details</a>
        <p class="clearfix"></p>
    </div>
    <div class="col-md-4 proj">
        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
        <h3><a href="">Akoya Compound</a></h3>
        <p class="details">
            Akoya Compound Akoya Compound Akoya Compound Akoya Compound Akoya Compound
        </p>
        <a href="/en/projects/kenz-compound" target="_blank" class="btn btn-primary pull-right">Details</a>
        <p class="clearfix"></p>
    </div>
    <p class="clearfix"></p>
</div>
{% include "footer.html" %}    
