{% load staticfiles %}                                                                      
{% include "header.html" %} 
<div class="content_dispaly" >
<h3 class="tit"><span class="glyphicon glyphicon-circle-arrow-right "></span>Luxury</h3>



	



<div class="row">
	<div class="col-sm-12  tit">
		<div class="content-display">
			{%for lux in contacts %}
				    <div class="col-md-4 proj">
				        <img src="{% static 'images/d.jpg' %}" class="img-responsive img-rounded" alt=""/>
				        <h3><a href="">{{lux.lux_name}}</a></h3>
				        <p class="details">
				        {{lux.price}} 
				  			{{lux.address}}
				        </p>
				        <a href="/luxury_details/{{lux.id}}" target="_blank" class="btn btn-primary pull-right">Details</a>
				        <p class="clearfix"></p>
				    </div>
				    {% empty %}
					there is no result Matched
			{%endfor%}
			

		</div>

	</div>

	
</div>
<div class="row" style="color:#FFF">
    <div class="pagination">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a style="color:#FFF" href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a style="color:#FFF" href="?page={{ contacts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>











</div>

{% include "footer.html" %}  




