{% load staticfiles %}                                                                      
{% include "header.html" %}    
<div class="content_dispaly" style="color:#fff">
    <h3 class="tit"><span class="glyphicon glyphicon-circle-arrow-right "></span>{{   property.prop_name }}</h3>


    <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
	    <li role="presentation"><a href="#preview" aria-controls="profile" role="tab" data-toggle="tab">Preview</a></li>
	    <li role="presentation"><a href="#details" aria-controls="messages" role="tab" data-toggle="tab">Details</a></li>
	    <li role="presentation"><a href="#pics" aria-controls="settings" role="tab" data-toggle="tab">Pictures</a></li>
	  </ul>

    <div class="tab-content">
	  <!--  Prom Name  / Address / Phone / Owner  / Area / Price / -->
	  <div role="tabpanel" class="tab-pane fade in active" id="home">
	  		<div class="row">
	  			<div class="col-sm-4"> Property Name : </div>
	  			<div class="col-sm-8"> {{ property.prop_name }}  </div>	
	  		</div>

	  		<div class="row">
	  			<div class="col-sm-4"> Category : </div>
	  			<div class="col-sm-8"> {{ property.cat_id }}  </div>	
	  		</div>
	 		
	 		<div class="row">
	  			<div class="col-sm-4"> city : </div>
	  			<div class="col-sm-8"> {{ property.city_id }}  </div>	
	  		</div>

	  		<div class="row">
	  			<div class="col-sm-4"> Property Address : </div>
	  			<div class="col-sm-8"> {{ property.address }}  </div>	
	  		</div>

	  		<div class="row">
	  			<div class="col-sm-4"> Property Phone : </div>
	  			<div class="col-sm-8"> {{ property.phone }}  </div>	
	  		</div>

	  		<div class="row">
	  			<div class="col-sm-4"> Property Owner : </div>
	  			<div class="col-sm-8"> {{ property.owner }}  </div>	
	  		</div>
	  		<div class="row">
	  			<div class="col-sm-4"> Property Area : </div>
	  			<div class="col-sm-8"> {{ property.area }}  </div>	
	  		</div>
	  		<div class="row">
	  			<div class="col-sm-4"> Property price : </div>
	  			<div class="col-sm-8"> {{ property.price }}  </div>	
	  		</div>
	  		


	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="preview">
	 		 <!-- # Preview -->
		    <div class="row">
		    	{{ property.preview }} 	
	  		</div>
			<div class="row" align="center">
	  				<object style="height: 390px; width: 100%"><param name="movie" value="http://www.youtube.com/v/v1gTI4BOPUw?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="{{ property.youtube }}" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
	  		</div>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="details">
	  	 <!-- # Preview -->
		    <div class="row">
		    	{{ property.details }} 	
	  		</div>
	  	   <div class="row">
          <p class="clearfix"></p>
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="map"></div>
 	  		</div>	


	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="pics">
	  		<div class="row">
	  	 {% for c  in images %}
		  	 	<!--<img src="property_images/{{ c.image_name }}" />-->
		  	 	<div class="col-sm-4">
		  	 		<img class="img-responsive img-thumbnail" src=" {{ MEDIA_URL }} /media/{{ c.image_name }}" />	
		  	 	</div>
		  	 	
	  	 {% endfor %}
			</div>
	  </div>
	</div>

	<hr>
	<h2>Send Message</h2>
	<form id="login_form"  method="post" action="/send_message/">
            {% csrf_token %}
            {{ form }}
            <div align="right">
            	<input type="hidden" name="pro_id" value="{{ property.id }}"  />
            	<input type="submit" value="submit" class="btn btn-primary"  />

            </div>
        </form>
   {%for c in property_comments %} 
  	<div class="comment">  		
	   <div class="user">{{c.coun_id}}</div>
	   <div class="commentData">{{c.comment}}</div>
  	</div>
   {% endfor %}    

<script type="text/javascript">
/*$(function(){
	var x={{ request.session.user_id }};
    console.log(x); 
	$('#user_id').val(x);
})
*/
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{property.Latitude}}, lng: {{property.longtiude}}},
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
         searchBox.setBounds(map.getBounds());
		var lat0 = map.getBounds().getNorthEast().lat();
		var lng0 = map.getBounds().getNorthEast().lng();
		var lat1 = map.getBounds().getSouthWest().lat();
		var lng1 = map.getBounds().getSouthWest().lng();
 		$('#longtiude').val(lng0);
 		$('#Latitude').val(lat0);
/*		 if(lat0!=null&&lng0!=null){
		 }else{
 			$('#longtiude').val=lng1;
 			$('#Latitude').val=lat1;
		 }
*/          console.log(lat0,lng0);
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

        
          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();

          places.forEach(function(place) {
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });

          map.fitBounds(bounds);
        });
      }

</script>		




{% include "footer.html" %}    
